<!-- header -->
<div class="header">
  <div class="header__bg"></div>
  <h1 class="header__title">sparetoolz</h1>
  <div class="header__log">
    <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
      ></path>
    </svg>
    <button type="button" class="btn btn-light">Sign Up</button>
    <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
      ></path>
    </svg>
    <button type="button" class="btn btn-light">Log in</button>
  </div>
</div>

<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">Who we are?</h2>
  </div>
  <div class="about__text">
    <p class="about__text--content">
      Sparetoolz helps you make & save money with peer-to-peer tool rental in
      your community .

      <br />

      Avoid the hassle of driving to the store & waiting in long lines .

      <br />
      Pay less than you would at big box retailers & corporations .
      <br />
      Keep money in your community, working directly with your neighbors .
      <br />
      Avoid cluttering up your garage, attic, & storage space .
      <br />
      Reduce landfill waste by renting (instead of buying & discarding)
      infrequently used tools
    </p>
  </div>
</div>

<!-- tool owners -->
<section id="timeline">
  <h1>TOOL OWNERS</h1>

  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>01</span>
        </div>
        <h3>Set up your account</h3>
      </div>
      <div class="body">
        <img
          src="https://iresponze.com/sites/default/files/styles/default/public/images/2020-03/social_media_new.png?itok=0JO6QUMQ"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>02</span>
        </div>
        <h3>Take photos of your tools</h3>
      </div>
      <div class="body">
        <img
          src="https://icons.veryicon.com/png/o/commerce-shopping/soft-designer-online-tools-icon/add-pictures.png"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>03</span>
        </div>
        <h3>Set your rental rates (by day/week)</h3>
      </div>
      <div class="body">
        <img
          src="https://i.pinimg.com/564x/f9/66/73/f96673088b3b310b9f2f0bf855356f48.jpg"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>04</span>
        </div>
        <h3>Make money with your spare tools!</h3>
      </div>
      <div class="body">
        <img
          src="https://media.istockphoto.com/vectors/bill-icon-vector-design-trendy-vector-id1284067597?k=20&m=1284067597&s=170667a&w=0&h=vJP0t3qjFUnpRvIKpYXrCUd5rHkgNfJcBU8sv5-bnhU="
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h4>
          Do you have spare tools & equipment sitting around in your garage,
          doing nothing? (Remember how much you paid for them?)
        </h4>
      </div>
      <div class="body">
        <img
          src="https://media.istockphoto.com/vectors/wrench-and-screwdriver-outline-icon-toolkit-symbol-vector-vector-id1167358696"
          alt="Graphic"
        />
      </div>
    </div>
  </div>
</section>
<!-- tool renters -->
<section id="timeline">
  <h1>TOOL RENTERS</h1>

  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>01</span>
        </div>
        <h3>Set up your account</h3>
      </div>
      <div class="body">
        <img
          src="https://iresponze.com/sites/default/files/styles/default/public/images/2020-03/social_media_new.png?itok=0JO6QUMQ"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>02</span>
        </div>
        <h3>Browse available tools</h3>
      </div>
      <div class="body">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR447hd5_AOCfRipilTfqnZvOH4qSuTL0CbsbNxG3yx-qLHa9NyaxpHsl_3VaQloVpbqyU&usqp=CAU"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>03</span>
        </div>
        <h3>Request a rental from trusted tool owners</h3>
      </div>
      <div class="body">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sAWbdFp1uxpozhdCcexo-0IZ1_U9u7iDqDvL4PD9ELa3zBMNViYDFre-GgIPaVwc_QE&usqp=CAU"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>04</span>
        </div>
        <h3>Save money!</h3>
      </div>
      <div class="body">
        <img
          src="https://previews.123rf.com/images/ylivdesign/ylivdesign1909/ylivdesign190902385/129982834-investor-money-box-icon-outline-style.jpg"
          alt="Graphic"
        />
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h4>
          Have a project, but not the tools? (And don’t want to deal with the
          clutter, hassle, & expense of buying them?)
        </h4>
      </div>
      <div class="body">
        <img
          src="https://media.istockphoto.com/vectors/wrench-and-screwdriver-outline-icon-toolkit-symbol-vector-vector-id1167358696"
          alt="Graphic"
        />
      </div>
    </div>
  </div>
</section>
//footer
